.recipeList{
  background-color: #f8f8f8;
  border-radius: 30px;
  max-width: 1200px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  padding: 40px 0;

}

.recipeListOneItem {
  background-color: #f8f8f8;
  border-radius: 30px;
  max-width: 1200px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  padding: 40px 0;
}

.container {
  min-height: 80vh;
  margin: 0 auto;
  max-width: 800px;
}

.filterIcon {
  width: 30px;
  height: 30px;
  margin: 40px 40px 10px 48px ;
}

.filterIcon:hover {
  cursor: pointer;
}

.filterAnimateEnter {
  
  opacity: 0;
} 
.filterAnimateActive {
  display: none;
  opacity: 0;
  transition: opacity 200ms;
} 
.filterAnimateExit {
  opacity: 1;
} 
.filterAnimateExitActive {
  opacity: 0;
  transition: opacity 200ms;
} 



@media screen and (max-width: 650px) {

  .container {
    
  }

  .filterIcon {
    margin: 20px 30px;
  }

  .recipeList{
    display: flex;
    flex-direction: column;
    align-items: center
  };
}